In [1]:
import requests
from bs4 import BeautifulSoup
import pandas

In [2]:
url = "https://sg.finance.yahoo.com/quote/GOOG/history?p=GOOG"
# url = "C:\Users\shiuh\Downloads\GOOG_yfinance.html"
r = requests.get(url, headers={'USER-AGENT': "Mozilla/5.0"}) # Must use header specifying user agent for YFinance
r_html = r.text

In [3]:
soup = BeautifulSoup(r_html, "html.parser")

In [4]:
data = soup.find('tbody').find_all('tr')

In [5]:
date, open, high, low, close, adjclose, volume = [],[],[],[],[],[],[]
for row in data:
    col = row.find_all('td')
    date.append(col[0].text)
    open.append(col[1].text)
    high.append(col[2].text)
    low.append(col[3].text)
    close.append(col[4].text)
    adjclose.append(col[5].text)
    volume.append(col[6].text)

In [6]:
df = pandas.DataFrame({"Date": date, "Open": open, "High": high, "Low": low, "Close": close, "Adj. Close": adjclose, "Volume": volume})

In [7]:
df.head()

          Date      Open      High       Low     Close Adj. Close     Volume
0  23 May 2022  2,202.08  2,240.11  2,183.08  2,233.33   2,233.33  1,569,300
1  20 May 2022  2,241.71  2,251.00  2,127.46  2,186.26   2,186.26  1,878,100
2  19 May 2022  2,236.82  2,271.75  2,209.36  2,214.91   2,214.91  1,459,600
3  18 May 2022  2,304.75  2,313.91  2,242.84  2,248.02   2,248.02  1,399,100
4  17 May 2022  2,344.55  2,344.55  2,306.75  2,334.03   2,334.03  1,078,800